.mappingView {
  font-size: 2.5rem;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes arrowAnimation {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes textFadeIn {
  from {
    transform: translate(-50%, 10px);
    opacity: 0;
  }
  to {
    transform: translate(-50%, 0px);
    opacity: 1;
  }
}

.arrowWrapper {
  display: flex;
  position: relative;
  margin: 0px 1rem;
  align-items: center;
  color: var(--secondary);
  div {
    display: inline-flex;
    overflow-x: hidden;
    svg {
      width: 5rem;
      animation: arrowAnimation 0.5s ease-in-out forwards;
    }
  }
  &:before {
    content: 'f';
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translate(-50%, 0px);
    opacity: 0;
    font-weight: bold;
    animation: textFadeIn 0.3s linear 0.3s forwards;
  }
}
